@charset "UTF-8";

@media screen and (max-width: 415px) {
    body section#intervalo input {
        display: block;
        margin: 5px auto;
    }
}

:root {
    --cor01: #4C6983;
    --cor02: #B6FFF9;
    --cor03: #273952;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 7px;
}

section#sorteador {
    border: 2px solid white;
    padding: 20px;
    max-width: 700px;
    margin: 9% auto;
}

section#sorteador h1 {
    text-align: center;
}

section#qtdeNumeros {
    max-width: 400px;
    margin: 20px auto;
    padding: 12px;
    text-align: center;
    border: 2px solid white;
}

section#qtdeNumeros input {
    background-color: transparent;
    width: 70px;
    margin-top: 5px;
    padding: 2px;
    font-weight: bolder;
    color: white;
    border: 2px solid white;
}

section#intervalo {
    max-width: 400px;
    margin: 30px auto;
    padding: 12px;
    text-align: center;
    border: 2px solid white;
}

section#intervalo input {
    background-color: transparent;
    width: 70px;
    padding: 2px;
    font-weight: bolder;
    color: white;
    border: 2px solid white;
}

p#resposta {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}

input#botao {
    display: block;
    background-color: transparent;
    width: 100px;
    margin: 70px auto 40px auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

input#botao:hover {
    background-color: var(--cor02);
    transition: background-color .4s;
    color: var(--cor03);
}

p#aviso {
    background-color: var(--cor03);
    text-align: justify;
    max-width: 600px;
    margin: 0px auto 20px auto;
    padding: 10px;
    border: 2px solid white;
}

p.texto {
    text-align: center;
}