@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

@media screen and (max-width: 930px) {
    body section#todosOsCards {
        display: block;
        width: 310px;
        margin: 10% auto;
    }
    body section#todosOsCards div.cards {
        margin-bottom: 10px;
    }
    body section#creditos {
        width: 283px;
    }
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;;
    background-image: url('../imagens/alejandro-gonzalez-h9p1VCgUSgM-unsplash.jpg');
}

section#todosOsCards {
    /*background-color: blue;*/
    display: flex;
    justify-content: space-around;
    max-width: 1110px;
    margin: 7% auto;
}

div#primeiro {
    background-color: rgba(178, 177, 185, 0.308);
}

div#segundo {
    background-color: rgba(52, 76, 183, 0.308);
}

div#terceiro {
    background-color: rgba(124, 62, 102, 0.425);
}

div.cards {
    max-width: 280px;
    max-height: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.315);
    transition-duration: .4s;

    backdrop-filter: blur(3px);
}

div.cards:hover {
    transform: scale(1.15, 1.15);
}

div.titulo {
    padding: 10px;
    color: white;
}

div#foto1 {
    background-image: url('../imagens/andres-hernandez-aOQe2gLH2WI-unsplash.jpg');
}

div#foto2 {
    background-image: url('../imagens/andres-hernandez-eaj3E7NsCMM-unsplash.jpg');
}

div#foto3 {
    background-image: url('../imagens/andres-hernandez-IsTr-zZ3vEs-unsplash.jpg');
}

div.fotos {
    background-position: center center;
    max-width: 350px;
    height: 230px;
}

div.subtitulo {
    padding: 10px;
    text-align: justify;
    color: white;
}

div.subtitulo h2 {
    margin-top: 10px;
}

section#creditos {
    font-size: 17px;
    color: white;
    width: 400px;
    margin: -30px auto;
}

section#creditos p {
    text-align: center;
}

section#creditos a {
    color: white;
}