@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section#todosOsCards {
    display: flex;
    justify-content: space-around;
    /*background-color: rgba(0, 0, 255, 0.473);*/
    max-width: 1110px;
    margin: 10% auto;
}

div#primeiro {
    background-color: #B2B1B9;
}

div#segundo {
    background-color: #344CB7;
}

div#terceiro {
    background-color: #7C3E66;
}

div.cards {
    max-width: 350px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.315);
}

div.titulo {
    padding: 10px;
    color: white;
}

div#foto1 {
    background-image: url('../imagens/andres-hernandez-aOQe2gLH2WI-unsplash.jpg');
}

div#foto2 {
    background-image: url('../imagens/andres-hernandez-eaj3E7NsCMM-unsplash.jpg');
}

div#foto3 {
    background-image: url('../imagens/andres-hernandez-IsTr-zZ3vEs-unsplash.jpg');
}

div.fotos {
    background-position: center center;
    max-width: 350px;
    height: 230px;
}

div.subtitulo {
    padding: 10px;
    text-align: justify;
    color: white;
}

div.subtitulo h2 {
    margin-top: 10px;
}

section#creditos {
    width: 304px;
    margin: auto;
}