@charset "UTF-8";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 237, 245)
}

div#espaço {
    background-color: white;
    width: 800px;
    /*height: 1000px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}

div#espaço h1 {
    text-align: center;
}

div#espaço img {
    display: inline-block;
    padding: 30px 30px 0px 30px;
}

div#espaço p#apresentação {
    display: inline-block;
    position: absolute;
    top: 16%;
    left: 40%;
    font-weight: bolder;
    font-size: 30px;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 40px 80px 20px 80px;
}

div#sobre h2 {
    padding-left: 20px;
}

div#sobre p#well {
    text-align: justify;
    padding: 0px 20px 0px 20px; 
}





:root{
    --counter: 0;
}

div.primeira-barra {
    width: 160px;
    height: 15px;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 110px;
}

div.segunda-barra {
    height: 100%;
    width: 75%;
    background-color: #E54C21;
    border-radius: inherit;
    animation-name: barra;
    animation-duration: 2s;
    animation-iteration-count: calc(1);
    /*animation-delay: 1s;*/
}

div.segunda-barra::after{
    content: var(--counter);
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
}

@keyframes barra {

    0%{
        width: 0;
        --counter: "0%";
    }

    25%{
        width: 25%;
        --counter: "25%";
    }

    50%{
        width: 50%;
        --counter: "50%"
    }

    75%{
        width: 75%;
        --counter: "75%"
    }

    /*
    100%{
        width: 100%;
        --counter: "100%"
    }
    */
}