@charset "UTF-8";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 237, 245)
}

main {
    background-color: white;
    width: 800px;
    /*height: 1000px;*/
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}

main h1 {
    text-align: center;
}

main img {
    display: inline-block;
    padding: 30px 30px 0px 30px;
}

main p#apresentação {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 40%;
    font-weight: bolder;
    font-size: 30px;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 40px 80px 20px 80px;
}

div#sobre h2 {
    padding-left: 20px;
}

div#sobre p#well {
    text-align: justify;
    padding: 0px 20px 0px 20px; 
}

:root{
    --counter: 0;
    --corHTML: #E54C21;
    --corCSS: #396DC0;
    --corJAVASCRIPT: #F7E018;
}






/*ESTILO DA HABILIDADE HTML*/
/*===========================================================================================================================*/
section#dohtml {
    background-color: rgba(229, 75, 33, 0.397);
    width: 180px;
    height: 150px;
    margin-left: 70px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
    margin-top: 50px;
}

section#dohtml p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}


div#primeira-barra-html {
    width: 160px;
    height: 15px;
    border: solid 2px white;
    margin: 50px 0px 10px 10px;
}

div#segunda-barra-html {
    width: 50%;
    height: 100%;
    background-color: var(--corHTML);
    border-radius: inherit;
    animation-name: barra;
    animation-duration: 2s;
}

div#segunda-barra-html::after{
    content: var(--counter);
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
}

@keyframes barra {

    0%{
        width: 0;
        --counter: "0%";
    }

    25%{
        width: 25%;
        --counter: "25%";
    }

    50%{
        width: 50%;
        --counter: "50%"
    }

}
/*===========================================================================================================================*/





/*ESTILO DA HABILIDADE CSS*/
/*===========================================================================================================================*/
section#docss {
    background-color: rgba(57, 109, 192, 0.397);
    width: 180px;
    height: 150px;
    margin: 20px 0px 0px 70px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
}

section#docss p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}

div#primeira-barra-css {
    width: 160px;
    height: 15px;
    border: solid 2px white;
    margin: 50px 0px 10px 10px;
}

div#segunda-barra-css {
    width: 50%;
    height: 100%;
    background-color: var(--corCSS);
    border-radius: inherit;
    animation-name: barracss;
    animation-duration: 2s;
}

div#segunda-barra-css::after {
    content: var(--counter);
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
}

@keyframes barracss {
    0% {
        width: 0;
        --counter: "0%";
    }
    25% {
        width: 25%;
        --counter: "25%";
    }
    50% {
        width: 50%;
        --counter: "50%";
    }
}
/*===========================================================================================================================*/





/*ESTILO DA HABILIDADE JAVASCRIPT*/
/*===========================================================================================================================*/
section#dojs {
    background-color: rgba(247, 225, 24, 0.397);
    width: 180px;
    height: 150px;
    margin: 20px 0px 0px 70px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
}

section#dojs p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}

div#primeira-barra-js {
    width: 160px;
    height: 15px;
    border: solid 2px white;
    margin: 50px 0px 10px 10px;
}

div#segunda-barra-js {
    width: 50%;
    height: 100%;
    background-color: var(--corJAVASCRIPT);
    border-radius: inherit;
    animation-name: barrajs;
    animation-duration: 2s;
}

div#segunda-barra-js::after {
    content: var(--counter);
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
}

@keyframes barrajs {
    0%{
        width: 0%;
        --counter: "0%"
    }
    25%{
        width: 25%;
        --counter: "25%"
    }
    50%{
        width: 50%;
        --counter: "50%"
    }
}
/*===========================================================================================================================*/