@charset "UTF-8";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 237, 245)
}

div#espaço {
    background-color: white;
    width: 800px;
    /*height: 1000px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}

div#espaço h1 {
    text-align: center;
}

div#espaço img {
    display: inline-block;
    padding: 20px;
}

div#espaço div#informações {
    display: inline-block;
}