@charset "UTF-8";

@font-face {
    font-family: 'pluto';
    src: url(fontes/pluto_revolution/pluto_revo.ttf)
    format('opentype')
}

@media screen and (max-width: 420px) {
    body header h1 {
        font-size: 1.4em;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('imagens/angelo-abear-unsplash.jpg');
    width: 100%;
    min-height: 100vh;
}

:root {
    --cor01: #1b262c67;
    --cor02: #3282B8;
    --cor03: #0F4C75;
    --cor04: #BBE1FA;
}

/* 
CORES
#1B262C
#0F4C75
#3282B8
#BBE1FA
*/

/*============ESTILO DO CABEÇALHO=========*/
header {
    background-color: var(--cor01);
    border: 2px solid var(--cor02);
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
    font-size: 1.8em;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

header h1 {
    font-family: 'pluto';
    letter-spacing: 4px;
}
/*========================================*/


/*============ESTILO DO CAIXA=============*/
section#externa {
    margin: 4% auto -3% auto;
    background-color: var(--cor01);
    border: 2px solid var(--cor02);
    max-width: 600px;
    height: 320px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.288);
}

section#interna {
    transform: translateX(-50%);
    margin-left: 52.6%;
    width: 240px;
}

h1 {
    text-align: center;
}

section input#item {
    width: 110px;
    padding: 4px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid var(--cor02);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
}

section input#verificar {
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 210px;
    background-color: transparent;
    border: 1px solid var(--cor02);
    border-radius: 10px;
    color: white;
    font: bold 17px Arial, sans-serif;
    transition-duration: .3s;
    cursor: pointer;
}

section input#verificar:hover {
    background-color: var(--cor03);
}

div#lista p {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: bolder;
}
/*========================================*/


/*============ESTILO DA TABELA============*/
section#tabela {
    margin: 5% auto;
    background-color: #1b262c6e;
    border: 2px solid #3282B8;
    max-width: 600px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 19px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.288);
}

section#tabela table {
    border-collapse: collapse;
    margin: auto;
}

section#tabela table tr th {
    border: 1px solid white;
    width: 160px;
    padding: 5px;
}

section#tabela table tr td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
}
/*========================================*/

p#credito, a {
    color: white;
    text-align: center;
}