@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #577EC5;
}

nav {
    display: flex;
    background-color: #010038;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    letter-spacing: 4px;
    font-size: 32px;
    text-decoration: none;
}

main img {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

main section#sobre {
    width: 386px;
    position: absolute;

    left: 50%;
    top: 48%;

    transform: translate(-50%, 50%);
}

main section#sobre p#linguagens {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 3px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

main section#sobre p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 3px;
    text-align: center;
    color: white;
}