@charset "UTF-8";

@media screen and (max-width: 768px) {
    body {
        padding-top: 30px;
    }
}

:root {
    --cordefundo: #3EDBF0;
}

body{
    background-color: #F0EBCC;
    font: bold 20px Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}

main {
    background-color: var(--cordefundo);
    max-width: 600px;
    min-width: 280px;
    margin: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.212);
}
input{
    font: bold 16px Arial, Helvetica, sans-serif;
    width: 80px;
    border-radius: 7px;
    padding: 5px;
    border-style: none;
}

h1{
    font-size: 32px;;
}

div#d01{
    background: var(--cordefundo);
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    border-top-left-radius: 50px;
    padding-top: 1px;
}

div#d02{
    background: var(--cordefundo);
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}

div#d03{
    background: var(--cordefundo);
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}

div#d04{
    background: var(--cordefundo);
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    border-bottom-right-radius: 50px;
}
