@charset "UTF-8";

:root {
    --cordefundo: #3EDBF0;
}

body{
    background-color: #F0EBCC;
    font: bold 20px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--cordefundo);
    width: 1006px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.274);
}
input{
    font: bold 20px Arial, Helvetica, sans-serif;
    width: 112px;
    border-radius: 7px;
    padding: 5px;
    border-style: none;
}

h2#result{
    margin-top: 20px;
}

div#d01{
    background: var(--cordefundo);
    width: 500px;
    height: 250px;
    text-align: center;
    border-top-left-radius: 30px;
    color: white;
    display: inline-block;
}

div#d02{
    background: var(--cordefundo);
    width: 500px;
    height: 250px;
    text-align: center;
    border-top-right-radius: 30px;
    color: white;
    display: inline-block;
}

div#d03{
    background: var(--cordefundo);
    width: 500px;
    height: 250px;
    text-align: center;
    border-bottom-left-radius: 30px;
    color: white;
    display: inline-block;
}

div#d04{
    background: var(--cordefundo);
    width: 500px;
    height: 250px;
    text-align: center;
    border-bottom-right-radius: 30px;
    color: white;
    display: inline-block;
}
